<li>
	<%= image_tag product.image.thumb.url, class: "img-circle" %>
	<%= link_to product.name, product %>
	<%= link_to Category.find(product.category_id).name, category_path(product.category_id) %>
  <% if current_user.admin? %>
	  <%= link_to 'Edit', edit_product_path(product) %>
	  <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</li>